<ng-container
  *ngIf="(socialApps$ | async)?.length || (user$ | async)?.identities?.length"
>
  <mat-card *ngIf="user$ | async as user">
    <mat-card-header>
      <mat-card-title>Social Auth Accounts</mat-card-title>
      <ng-container *ngIf="(socialApps$ | async)?.length">
        <mat-form-field
          *ngIf="socialApps$ | async as socialApps"
          appearance="outline"
        >
          <mat-label>Add Account</mat-label>
          <mat-select (selectionChange)="addAccount()" [formControl]="account">
            <mat-option
              *ngFor="let socialApp of socialApps"
              [value]="socialApp"
            >
              <gt-auth-svg
                source="dropdown"
                [provider]="socialApp.provider"
                [text]="socialApp.name"
              ></gt-auth-svg>
            </mat-option>
          </mat-select> </mat-form-field
      ></ng-container>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content
      ><ng-container
        *ngIf="(user$ | async)?.identities?.length === 0; else authAccountsList"
      >
        <p class="empty-auth">
          You haven't connected any social auth accounts.
        </p>
      </ng-container>
      <ng-template #authAccountsList>
        <div class="socialaccount-list-wrapper">
          <ng-container
            *ngFor="
              let socialAccount of (user$ | async)?.identities;
              let lastItem = last
            "
          >
            <div class="socialaccount-wrapper">
              <button
                mat-stroked-button
                (click)="disconnect(socialAccount.id, socialAccount.uid, socialAccount.provider)"
                [disabled]="(disconnectLoading$ | async) === socialAccount.id"
              >
                <gt-auth-svg
                  [loading]="(disconnectLoading$ | async) === socialAccount.id"
                  source="disconnect"
                  text="Disconnect {{ socialAccount.name }}"
                  [provider]="socialAccount.provider"
                ></gt-auth-svg>
              </button>
              <div class="email">
                {{ socialAccount.email }}
              </div>
            </div>
            <mat-divider *ngIf="!lastItem"></mat-divider>
          </ng-container>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</ng-container>
