<div *ngIf="shouldDisplayPrismCode; else simpleContext">
  <pre
    class="prism-code-container"
    [attr.data-start]="firstLineNumber"
    [attr.data-line-offset]="firstLineNumber"
    [attr.data-line]="highlightLine"
  ><code gtPrism [language]="eventPlatform" class="line-numbers">{{ codeBlock }}</code></pre>
</div>
<ng-template #simpleContext>
  <div class="simple-code-container">
    <div *ngFor="let contextLine of context">
      <pre
        [class.highlight]="
          contextLine[0] === lineNo && context && context.length > 1
        "
        class="context padding"
        >{{ contextLine[0] }}. {{ contextLine[1] }}</pre
      >
    </div>
  </div>
</ng-template>
<div class="var-wrapper" *ngIf="vars">
  <ng-container *ngFor="let varList of vars | keyvalue">
    <mat-divider></mat-divider>
    <div class="vars padding">
      <dt class="mat-body-strong">{{ varList.key }}:</dt>
      <dd>
        <pre>{{ checkType(varList.value) }}</pre>
      </dd>
    </div>
  </ng-container>
</div>
